
{% extends "layout.html" %}

{% block pageTitle %}
Accessibility guide
{% endblock %}

{% block main %}

<section style="margin: 3em 0 0 0;">
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
          Home Office accessibility guide
        </h1>
        <p class="govuk-body-l">Services must be accessible to everyone. We need to design and build services that match the way that people use them.</p>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <ul class="card-list">
          <li class="card-list-item">
            <div class="card-list-content">
              <h2 class="govuk-heading-m">Accesibility checklist</h2>
              <p>A simple set of checks anyone can do.</p>
              <a href="checklist">Accesibility checklist</a>
            </div>
          </li>
          <li class="card-list-item">
            <div class="card-list-content">
              <h2 class="govuk-heading-m">Resources and tools</h2>
              <p>Tools and resources to further explore accessibility.</p>
              <a href="">Resources and tools</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>



<section class="principles">
  <div class="govuk-width-container">
    <div class="govuk-grid-row" style="margin-bottom: 3em;">
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-l">Accessibility principles</h2>
        <p>If any of these are not met, users with access needs will not be able to use your service.</p>
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-quarter">
        <p style="border-top:#8F23B3 2px solid;padding-top: 15px;">Users need to be aware of and be able to perceive all content and user interface</p>
      </div>
      <div class="govuk-grid-column-one-quarter">
        <p style="border-top:#8F23B3 2px solid;padding-top: 15px;">Users need to be able to interact with and use the user interface</p>
      </div>
      <div class="govuk-grid-column-one-quarter">
        <p style="border-top:#8F23B3 2px solid;padding-top: 15px;">Users need to be able to understand the service and it's content</p>
      </div>
      <div class="govuk-grid-column-one-quarter">
        <p style="border-top:#8F23B3 2px solid;padding-top: 15px;">Users need to be able to access a service with any technology, both old and new</p>
      </div>
    </div>
  </div>
</section>

{{ super()}}
{% endblock %}
