
{% extends "layout.html" %}

{% block pageTitle %}
  Accessibility guide
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Home Office accessibility guide
      </h1>

      <h2 class="govuk-heading-m"><a href="alpha1/index">Alpha 1</a></h2>
      <p style="margin-bottom:3rem;">Text only checklist.</p>

      <h2 class="govuk-heading-m govuk-heading__grey"><a href="alpha2/index">Alpha 2</a></h2>
      <p style="margin-bottom:3rem;">Checkable checklist with landing page.</p>

      <h2 class="govuk-heading-m govuk-heading__grey">Alpha 3 - guidance baked directly into the design system</h2>


    </div>
</div>

{% endblock %}
