
{% extends "layout.html" %}

{% block pageTitle %}
  Accessibility guide
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Home Office accessibility guide
      </h1>

      <h2 class="govuk-heading-m"><a href="alpha1/index">Alpha 1 - guidance for the whole team</a></h2>
      <p style="margin-bottom:3rem;">Basic accessibility guidance for teams delivering Home Office services.</p>

      <h2 class="govuk-heading-m govuk-heading__grey">Alpha 2 - guidance by profession</h2>
      <h2 class="govuk-heading-m govuk-heading__grey">Alpha 3 - guidance baked directly into the design system</h2>


    </div>
</div>

{% endblock %}
