
{% extends "layout.html" %}

{% block pageTitle %}
Accessibility guide
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Home Office accessibility guide
    </h1>

    <p class="govuk-body-l">Designing and building accessible services ensures everyone can use your service.</p>
  </div>
</div>

<section class="principles">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-m">Principles of building accessible services</h2>
      <p>If any of these are not met, users with access needs will not be able to use your service.</p>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-quarter">
      <p>Users need to be aware of and be able to perceive all content and user interface</p>
    </div>
    <div class="govuk-grid-column-one-quarter">
      <p>Users need to be able to interact with and use the user interface</p>
    </div>
    <div class="govuk-grid-column-one-quarter">
      <p>Users need to be able to understand the service and it's content</p>
    </div>
    <div class="govuk-grid-column-one-quarter">
      <p>Users need to be able to access a service with any technology, both old and new</p>
    </div>
  </div>
</section>

<section class="guidance-section">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-m">Colour</h2>
      <ul class="govuk-list">
        <li>Don't use only colour as the only means of conveying information to a user </li>
        <span class="guidance-section--examples">Examples: Buttons, labels, graph data</span>
        <span class="guidance-section--wcag"><a href="https://www.w3.org/TR/WCAG21/#use-of-color">WCAG</a></span>
      </ul>
    </div>
  </div>
</section>

<section class="guidance-section">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-m">Content</h2>
      <ul class="govuk-list">
        <li>Supply an easy to find link back to the start of the service</li>
        <span class="guidance-section--wcag"><a href="https://www.w3.org/TR/WCAG21/#use-of-color">WCAG</a></span>

        <li>Text is left aligned</li>
        <span class="guidance-section--wcag"><a href="#0">WCAG</a></span>

        <li>Text is no longer then 75 characters per line</li>
        <span class="guidance-section--wcag"><a href="#0">WCAG</a></span>

        <li>Text is styled normally, not in bold, italics or all caps</li>
        <span class="guidance-section--wcag"><a href="#0">WCAG</a></span>

        <li>Text is styled normally, not in bold, italics or all caps</li>
        <span class="guidance-section--wcag"><a href="#0">WCAG</a></span>

        <li>Each link describes where it goes </li>
        <span class="guidance-section--examples">Examples: </span>
        <span class="guidance-section--wcag"><a href="#0">WCAG</a></span>

        <li>Text contrasts clearly against the background</li>
        <span class="guidance-section--examples">Examples: black text on a white background</span>
        <span class="guidance-section--wcag"><a href="#0">WCAG</a></span>

        <li>Content is easy to read, written for a minimum reading age of 11</li>
        <span class="guidance-section--wcag"><a href="#0">WCAG</a></span>

        <li>Content does not use abbreviations or acronyms</li>
        <span class="guidance-section--wcag"><a href="#0">WCAG</a></span>

        <li>Use headings to break up content</li>
        <span class="guidance-section--wcag"><a href="#0">WCAG</a></span>
      </ul>
    </div>
  </div>
</section>


{% endblock %}
