
{% extends "layout.html" %}

{% block pageTitle %}
Accessibility guide
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Home Office accessibility guide
    </h1>

    <p class="govuk-body-l">Designing and building accessible services ensures everyone can use your service.</p>
  </div>
</div>

<section class="">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-m">Principles of building accessible services</h2>
      <p>If any of these are not met, users with access needs will not be able to use your service.</p>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-quarter">
      <p>Users need to be aware of and be able to perceive all content and UI elements</p>
    </div>
    <div class="govuk-grid-column-one-quarter">
      <p>Users need to be able to interact with and use all UI elements</p>
    </div>
    <div class="govuk-grid-column-one-quarter">
      <p>Users need to be able to understand the service and it's content</p>
    </div>
    <div class="govuk-grid-column-one-quarter">
      <p>Users need to be able to access a service with any technology, both old and new</p>
    </div>
  </div>
</section>

<section>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-m">Colour</h2>

    </div>
  </div>
</section>

<section>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-m">Colour</h2>

    </div>
  </div>
</section>


{% endblock %}
